.timeContainer{
    width: 250px;
     background: #1e1e1e;
     color: #00ffea;
     border-radius: 12px;
      margin: 40px auto;
      padding: 20px;
      padding-left: 60px;
      font-family: 'Courier New', monospace;
      box-shadow:0px 0px 5px aquamarine  ;
}
.dateContainer{

    color: #00ffea;
    background-color: #1e1e1e;
    font-family: 'Courier New', monospace;
    border-radius: 12px;
    padding: 10px;
     padding-left: 60px;
    width: 250px;
    margin-left: 790px;
    stroke: #00ffea;
    box-shadow:0px 0px 5px aquamarine  ;
    
}
body{
    background-image: url(assets/bg.jpeg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}
