.timeContainer{
    width: 250px;
     background: #1e1e1e;
     color: #00ffea;
     border-radius: 12px;
      margin: 40px auto;
      padding: 20px;
      font-family: 'Courier New', monospace;
}
.dateContainer{

    color: #00ffea;
    background-color: #1e1e1e;
    font-family: 'Courier New', monospace;
    border-radius: 12px;
    padding:10px;
    width: 250px;
    margin-left: 810px;
    
}