
.calc-container {
  width: 350px;
  padding: 25px;
  margin: 80px auto;
  background: rgba(30, 30, 30, 0.85);
  border-radius: 16px;
  box-shadow: 0 0 22px rgba(0, 255, 234, 0.3);
  backdrop-filter: blur(6px);

  display: flex;
  flex-direction: column;
  gap: 15px;

  font-family: "Segoe UI", sans-serif;
  text-align: center;
  color: #00ffee;
}


input[type="number"] {
  width: 87%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(0, 255, 234, 0.5);
  background: #0f0f0f;
  color: #00ffee;
  font-size: 16px;
  outline: none;
  box-shadow: inset 0 0 8px rgba(0, 255, 234, 0.2); 
 
}

input[type="number"]::placeholder {
  color: #8dfcf8;
 
}


.operatordropdown {
  width: 95%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(0, 255, 234, 0.5);
  background: #0f0f0f;
  color: #00ffee;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  box-shadow: inset 0 0 8px rgba(0, 255, 234, 0.2);
}


.equalsbtn {
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #00ffee;
  color: #0f0f0f;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.equalsbtn:hover {
  background: #0ef2d3;
  transform: scale(1.03);
}

.equalsbtn:active {
  transform: scale(0.97);
}


.resultlabel {
  font-size: 26px;
  margin-top: 10px;
  color: #ffffff;
  
}
